
@charset "utf-8";
// @import "../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/main";

//Themeing
//@import 'override.scss';

// .testTheme{
//     $color-primary: rgb(235, 6, 155);
//     $main-container-border: 0;
//     $color-text: red;
//     $conversation-color: pink;
// }

// @mixin themable($theme-name, $color-primary, $color-primary-light) {
//     .#{$theme-name} {
//         $color-primary: red;
//         $color-primary-light: $color-primary-light;
//     }
// }
:root {
  --primary_color: white;
  --secondary_color: white;
  --text_color: white;//rgba(255, 255, 255, 0.87);
  --background_color: white;
  $number: 0;
  --isDark: false;
  color: 0;
}

$color-primary: var(--primary_color);
$color-secondary: var(--secondary_color);
// dark{
$color-text: var(--text_color);
$message-list-bg-color: var(--background_color);

$input-toolbox-send-btn-color: #6EAAD8;
$chat-container-message-input-bg-color: var(--background_color);
$chat-container-bg-color: var(--background_color);
$main-container-border: 0;

$message-separator-bg-color: var(--background_color);
$message-separator-color:var(--secondary_color);

$sidebar-left-bg-color:var(--background_color);

$main-container-conversation-list-border-right: (solid 1px var(--primary_color));

@import "helpers/functions";
@import "components/main-container";
@import "components/message";
@import "components/message-group";
@import "components/message-separator";
@import "components/message-list";
@import "components/avatar";
@import "components/avatar-group";
@import "components/message-input";
@import "components/input-toolbox";
@import "components/chat-container";
@import "components/typing-indicator";
@import "components/conversation-header";
@import "components/conversation";
@import "components/conversation-list";
@import "components/status";
@import "components/sidebar";
@import "components/expansion-panel";
@import "components/search";
@import "components/buttons";
@import "components/loader";
@import "components/overlay";
@import "components/status-list";
@import "components/perfect-scrollbar";